In [1]:
x = [1, 2, 3, 5]
y = [4, 4, 4]
x + y

[1, 2, 3, 5, 4, 4, 4]

In [2]:
import pandas as pd

In [3]:
x = pd.DataFrame({'origin':[1, 2, 3], 'destination':[3, 4, 5]})

In [9]:
list(x['origin'].unique())+list(x['destination'].unique())

[1, 2, 3, 3, 4, 5]

In [11]:
x

   origin  destination
0       1            3
1       2            4
2       3            5

In [13]:
n = x['origin'].max()

In [16]:
for i in (range(n)):
    print(i)

0
1
2